<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="Webpixels" />
    <title>Millennium | Admin Dashboard</title>
    <!-- Favicon -->
    <link
      rel="icon"
      href="wp-content/uploads/2020/07/cropped-Favikon-32x32.png"
      type="image/gif"
      sizes="16x16"
    />
    <!-- Font Awesome 5 -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
      integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/datatables.min.css" />
    <!-- Page CSS -->
    <link
      rel="stylesheet"
      href="assets/libs/fullcalendar/dist/fullcalendar.min.css"
    />
    <!-- Purpose CSS -->
    <link rel="stylesheet" href="assets/css/theme.min.css" />
    <link rel="stylesheet" href="assets/css/purpose.css" id="stylesheet" />
    <link rel="stylesheet" href="assets/css/style.css" id="stylesheet" />
  </head>

  <body class="application application-offset">
    <!-- Chat modal -->
    <!-- Customizer modal -->

    <!-- Application container -->
    <div class="container-fluid container-application">
      <!-- Sidenav -->
      <div class="sidenav show" id="sidenav-main">
        <!-- Sidenav header -->
        <div class="sidenav-header d-flex align-items-center">
          <a class="navbar-brand" href="/adminDashboard">
            <img
              src="../assets/img/brand/white.png"
              class="navbar-brand-img"
              alt="..."
            />
          </a>
          <div class="ml-auto">
            <!-- Sidenav toggler -->
            <div
              class="sidenav-toggler sidenav-toggler-dark d-md-none"
              data-action="sidenav-unpin"
              data-target="#sidenav-main"
            >
              <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line bg-white"></i>
                <i class="sidenav-toggler-line bg-white"></i>
                <i class="sidenav-toggler-line bg-white"></i>
              </div>
            </div>
          </div>
        </div>
        <!-- User mini profile -->
        <div
          class="sidenav-user d-flex flex-column align-items-center justify-content-between text-center"
        >
          <!-- Avatar -->
          <div>
            <a href="#" class="avatar rounded-circle avatar-xl">
              <img
                alt="Image placeholder"
                src="../assets/img/theme/light/team-1-800x800.jpg"
                class=""
              />
            </a>
            <div class="mt-4">
              <h5 class="mb-0 text-white">Millennium Developers</h5>
            </div>
          </div>
          <!-- User info -->
        </div>
        <!-- Application nav -->
        <div class="nav-application clearfix">
          <a href="/adminDashboard" class="btn btn-square text-sm">
            <span class="btn-inner--icon d-block"
              ><img src="assets/img/icons/speedometer.png" width="80%"
            /></span>
            <span class="btn-inner--icon d-block pt-2">Dashboard</span>
          </a>
          <a href="/editHome" class="btn btn-square text-sm">
            <span class="btn-inner--icon d-block"
              ><img src="assets/img/icons/home.png" width="80%"
            /></span>
            <span class="btn-inner--icon d-block pt-2"
              >Edit Home <br />
              Page</span
            >
          </a>
          <a href="/editProject" class="btn btn-square text-sm">
            <span class="btn-inner--icon d-block"
              ><img src="assets/img/icons/building (1).png" width="80%"
            /></span>
            <span class="btn-inner--icon d-block pt-2">Projects</span>
          </a>
          <a href="/previousProjects" class="btn btn-square text-sm">
            <span class="btn-inner--icon d-block"
              ><img src="assets/img/icons/building (1).png" width="80%"
            /></span>
            <span class="btn-inner--icon d-block pt-2"
              >Completed <br />
              Projects</span
            >
          </a>
          <a href="/userTable" class="btn btn-square text-sm">
            <span class="btn-inner--icon d-block"
              ><img src="assets/img/icons/man.png" width="80%"
            /></span>
            <span class="btn-inner--icon d-block pt-2">Users</span>
          </a>
          <a href="/careerEnquiries" class="btn btn-square text-sm active">
            <span class="btn-inner--icon d-block"
              ><img src="assets/img/icons/curriculum-vitae.png" width="80%"
            /></span>
            <span class="btn-inner--icon d-block pt-2"
              >Career <br />
              Enquiries</span
            >
          </a>
          <a href="/editGallery" class="btn btn-square text-sm">
            <span class="btn-inner--icon d-block"
              ><img src="assets/img/icons/image-gallery.png" width="80%"
            /></span>
            <span class="btn-inner--icon d-block pt-2">Edit Gallery</span>
          </a>
        </div>
      </div>
      <!-- Content -->
      <div class="main-content position-relative">
        <!-- Main nav -->
        <nav
          class="navbar navbar-main navbar-expand-lg navbar-dark bg-primary navbar-border"
          id="navbar-main"
        >
          <div class="container-fluid">
            <!-- Brand + Toggler (for mobile devices) -->
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbar-main-collapse"
              aria-controls="navbar-main-collapse"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <!-- User's navbar -->
            <div class="navbar-user d-lg-none ml-auto">
              <ul class="navbar-nav flex-row align-items-center">
                <li class="nav-item dropdown dropdown-animate">
                  <a
                    class="nav-link pr-lg-0"
                    href="#"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <span class="avatar avatar-sm rounded-circle">
                      <img
                        alt="Image placeholder"
                        src="../assets/img/theme/light/team-4-800x800.jpg"
                      />
                    </span>
                  </a>
                  <div
                    class="dropdown-menu dropdown-menu-sm dropdown-menu-right dropdown-menu-arrow"
                  >
                    <a href="user/profile.html" class="dropdown-item">
                      <i class="fas fa-user"></i>
                      <span>My profile</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="authentication/login.html" class="dropdown-item">
                      <i class="fas fa-sign-out-alt"></i>
                      <span>Logout</span>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
            <!-- Navbar nav -->
            <div
              class="collapse navbar-collapse navbar-collapse-fade"
              id="navbar-main-collapse"
            >
              <ul class="navbar-nav align-items-lg-center">
                <!-- Overview  -->
                <li class="nav-item d-lg-none">
                  <a class="nav-link" href="/adminDashboard"> Overview </a>
                </li>
                <li class="border-top opacity-2 my-2"></li>
                <!-- Home  -->
                <li class="nav-item">
                  <a class="nav-link pl-lg-0" href="/adminDashboard"> Home </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-lg-0" href="/editProjects">
                    Projects
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-lg-0" href="/previousProjects">
                    Completed Projects
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-lg-0" href="/userTable"> Users </a>
                </li>
                <!-- Application menu -->
              </ul>
              <!-- Right menu -->
              <ul
                class="navbar-nav ml-lg-auto align-items-center d-none d-lg-flex"
              >
                <li class="nav-item dropdown dropdown-animate">
                  <a
                    class="nav-link pr-lg-0"
                    href="#"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <div class="media media-pill align-items-center">
                      <span class="avatar rounded-circle">
                        <img
                          alt="Image placeholder"
                          src="../assets/img/theme/light/team-1-800x800.jpg"
                        />
                      </span>
                      <div class="ml-2 d-none d-lg-block">
                        <span class="mb-0 text-sm font-weight-bold"
                          >Millennium Developers</span
                        >
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <!-- Page content -->
        <div class="row"><h1 style="color: #fff">Career Enquiries</h1></div>
        <div class="card">
          <div class="table-responsive" style="padding: 20px; width: 93%">
            <table
              id="dtBasicExample"
              class="table table-striped table-bordered table-sm"
              cellspacing="0"
              width="100%"
            >
              <thead>
                <tr>
                  <th class="th-sm">User Name</th>
                  <th class="th-sm">Mobile No</th>
                  <th class="th-sm">Email</th>
                  <th class="th-sm">Department</th>
                  <th class="th-sm">Experience</th>
                  <th class="th-sm">Resume</th>
                </tr>
              </thead>
              <tbody>
                <% careerEnquiry.forEach(users => { %>
                <tr>
                  <td style="color: #6e00ff"><%= users.name %></td>
                  <td><%= users.mobileNo %></td>
                  <td><%= users.email %></td>
                  <td><%= users.department %></td>
                  <td><%= users.experience %></td>
                  <td>
                    <a
                      href="public/assets/img/uploads/<%= users.resume %>"
                      download
                    >
                      <%= users.resume %></a
                    >
                  </td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
          <div class="row" style="margin: 20px">
            <div class="col-6">
              <form action="/addDepartment" method="POST">
                <div class="form-group pb-2">
                  <label class="inputLabel" for="Section1Text"
                    >Add Departments :</label
                  >
                  <input
                    class="form-control"
                    type="text"
                    id="Section1Text"
                    name="department"
                    required
                  /><small class="form-text text-muted"
                    >Maximum 100 characters. No HTML or emoji allowed.</small
                  >
                </div>
                <button class="btn btn-primary btn-block" type="submit">
                  <i class="czi-cloud-upload font-size-lg mr-2"></i>Add
                  Department
                </button>
              </form>
            </div>
            <div class="col-6" style="text-align: -webkit-center">
              <div class="table-responsive" style="width: max-content">
                <table class="table table-bordered">
                  <thead>
                    <tr class="table-divider">
                      <th scope="col">Departments</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% department.forEach(department => {%>
                    <tr class="table-divider">
                      <td><%= department.department %></td>
                      <td>
                        <button
                          onclick="removeDepartment('<%= department.id %>')"
                          class="action-item text-danger"
                        >
                          <i class="far fa-trash-alt"></i>
                        </button>
                      </td>
                    </tr>
                    <%}); %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Scripts -->
    <!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
    <script src="../assets/js/purpose.core.js"></script>
    <!-- Page JS -->
    <script src="../assets/libs/progressbar.js/dist/progressbar.min.js"></script>
    <script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="../assets/libs/moment/min/moment.min.js"></script>
    <script src="../assets/libs/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="js/dataTables.min.js" type="text/javascript"></script>
    <!-- Purpose JS -->
    <script src="assets/js/purpose.js"></script>
    <!-- Demo JS - remove it when starting your project -->
    <script src="assets/js/demo.js"></script>
    <script>
      $(document).ready(function () {
        $("#dtBasicExample").DataTable();
        $(".dataTables_length").addClass("bs-select");
      });
    </script>
    <script>
      function removeUser(userId) {
        $.ajax({
          url: "/removeUser",
          method: "post",
          dataType: "json",
          data: { userId: userId },
          success: function (response) {
            window.setTimeout(function () {
              location.reload();
            }, 3000);
            $("#userRemoved").toast("show");
          },
          error: function (response) {
            alert("server error occured");
          },
        });
      }
    </script>
    <script>
      function removeDepartment(deptId) {
        $.ajax({
          url: "/removeDepartment",
          method: "post",
          dataType: "json",
          data: { deptId: deptId },
          success: function (response) {
            location.reload();
          },
          error: function (response) {
            alert("server error occured");
          },
        });
      }
    </script>
  </body>
</html>
