<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="Webpixels" />
    <title>Millennium | Edit <%= singleApartment.projName %></title>
    <!-- Favicon -->
    <link
      rel="icon"
      href="/wp-content/uploads/2020/07/cropped-Favikon-32x32.png"
      type="image/gif"
      sizes="16x16"
    />
    <!-- Font Awesome 5 -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
      integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu"
      crossorigin="anonymous"
    />
    <!-- Page CSS -->
    <link
      rel="stylesheet"
      href="/assets/libs/fullcalendar/dist/fullcalendar.min.css"
    />
    <!-- Purpose CSS -->
    <link rel="stylesheet" href="/assets/css/theme.min.css" />
    <link rel="stylesheet" href="/assets/css/purpose.css" id="stylesheet" />
    <link rel="stylesheet" href="/assets/css/style.css" id="stylesheet" />
  </head>

  <body class="application application-offset">
    <!-- Chat modal -->
    <!-- Customizer modal -->

    <!-- Application container -->
    <div class="container-fluid container-application">
      <!-- Sidenav -->
      <div class="sidenav show" id="sidenav-main">
        <!-- Sidenav header -->
        <div class="sidenav-header d-flex align-items-center">
          <a class="navbar-brand" href="/adminDashboard">
            <img
              src="../assets/img/brand/white.png"
              class="navbar-brand-img"
              alt="..."
            />
          </a>
          <div class="ml-auto">
            <!-- Sidenav toggler -->
            <div
              class="sidenav-toggler sidenav-toggler-dark d-md-none"
              data-action="sidenav-unpin"
              data-target="#sidenav-main"
            >
              <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line bg-white"></i>
                <i class="sidenav-toggler-line bg-white"></i>
                <i class="sidenav-toggler-line bg-white"></i>
              </div>
            </div>
          </div>
        </div>
        <!-- User mini profile -->
        <div
          class="sidenav-user d-flex flex-column align-items-center justify-content-between text-center"
        >
          <!-- Avatar -->
          <div>
            <a href="#" class="avatar rounded-circle avatar-xl">
              <img
                alt="Image placeholder"
                src="../assets/img/theme/light/team-1-800x800.jpg"
                class=""
              />
            </a>
            <div class="mt-4">
              <h5 class="mb-0 text-white">Millennium Developers</h5>
            </div>
          </div>
          <!-- User info -->
        </div>
        <!-- Application nav -->
        <div class="nav-application clearfix">
          <a href="/adminDashboard" class="btn btn-square text-sm">
            <span class="btn-inner--icon d-block"
              ><img src="/assets/img/icons/speedometer.png" width="80%"
            /></span>
            <span class="btn-inner--icon d-block pt-2">Dashboard</span>
          </a>
          <a href="/editHome" class="btn btn-square text-sm">
            <span class="btn-inner--icon d-block"
              ><img src="/assets/img/icons/home.png" width="80%"
            /></span>
            <span class="btn-inner--icon d-block pt-2"
              >Edit Home <br />
              Page</span
            >
          </a>
          <a href="/editProject" class="btn btn-square text-sm">
            <span class="btn-inner--icon d-block"
              ><img src="/assets/img/icons/building (1).png" width="80%"
            /></span>
            <span class="btn-inner--icon d-block pt-2">Projects</span>
          </a>
          <a href="/editProject" class="btn btn-square text-sm">
            <span class="btn-inner--icon d-block"
              ><img src="/assets/img/icons/building (1).png" width="80%"
            /></span>
            <span class="btn-inner--icon d-block pt-2"
              >Completed <br />
              Projects</span
            >
          </a>
          <a href="/userTable" class="btn btn-square text-sm">
            <span class="btn-inner--icon d-block"
              ><img src="/assets/img/icons/man.png" width="80%"
            /></span>
            <span class="btn-inner--icon d-block pt-2">Users</span>
          </a>
          <a href="/careerEnquiries" class="btn btn-square text-sm">
            <span class="btn-inner--icon d-block"
              ><img src="/assets/img/icons/curriculum-vitae.png" width="80%"
            /></span>
            <span class="btn-inner--icon d-block pt-2"
              >Career <br />
              Enquiries</span
            >
          </a>
          <a href="/editGallery" class="btn btn-square text-sm">
            <span class="btn-inner--icon d-block"
              ><img src="/assets/img/icons/image-gallery.png" width="80%"
            /></span>
            <span class="btn-inner--icon d-block pt-2">Edit Gallery</span>
          </a>
        </div>
      </div>
      <!-- Content -->
      <div class="main-content position-relative">
        <!-- Main nav -->
        <nav
          class="navbar navbar-main navbar-expand-lg navbar-dark bg-primary navbar-border"
          id="navbar-main"
        >
          <div class="container-fluid">
            <!-- Brand + Toggler (for mobile devices) -->
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbar-main-collapse"
              aria-controls="navbar-main-collapse"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <!-- User's navbar -->
            <div class="navbar-user d-lg-none ml-auto">
              <ul class="navbar-nav flex-row align-items-center">
                <li class="nav-item dropdown dropdown-animate">
                  <a
                    class="nav-link pr-lg-0"
                    href="#"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <span class="avatar avatar-sm rounded-circle">
                      <img
                        alt="Image placeholder"
                        src="../assets/img/theme/light/team-4-800x800.jpg"
                      />
                    </span>
                  </a>
                  <div
                    class="dropdown-menu dropdown-menu-sm dropdown-menu-right dropdown-menu-arrow"
                  >
                    <a href="user/profile.html" class="dropdown-item">
                      <i class="fas fa-user"></i>
                      <span>My profile</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="authentication/login.html" class="dropdown-item">
                      <i class="fas fa-sign-out-alt"></i>
                      <span>Logout</span>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
            <div
              class="collapse navbar-collapse navbar-collapse-fade"
              id="navbar-main-collapse"
            >
              <ul class="navbar-nav align-items-lg-center">
                <li class="nav-item d-lg-none">
                  <a class="nav-link" href="/adminDashboard"> Overview </a>
                </li>
                <li class="border-top opacity-2 my-2"></li>
                <li class="nav-item">
                  <a class="nav-link pl-lg-0" href="/adminDashboard"> Home </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-lg-0" href="/editProjects">
                    Projects
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-lg-0" href="/previousProjects">
                    Completed Projects
                  </a>
                </li>
              </ul>
              <ul
                class="navbar-nav ml-lg-auto align-items-center d-none d-lg-flex"
              >
                <li class="nav-item dropdown dropdown-animate">
                  <a
                    class="nav-link pr-lg-0"
                    href="#"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <div class="media media-pill align-items-center">
                      <span class="avatar rounded-circle">
                        <img
                          alt="Image placeholder"
                          src="../assets/img/theme/light/team-1-800x800.jpg"
                        />
                      </span>
                      <div class="ml-2 d-none d-lg-block">
                        <span class="mb-0 text-sm font-weight-bold"
                          >Millennium Developers</span
                        >
                      </div>
                    </div>
                  </a>
                  <div
                    class="dropdown-menu dropdown-menu-sm dropdown-menu-right dropdown-menu-arrow"
                  >
                    <h6 class="dropdown-header px-0">Hi, John!</h6>
                    <a href="#!" class="dropdown-item">
                      <i class="fas fa-user"></i>
                      <span>My profile</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#!" class="dropdown-item">
                      <i class="fas fa-sign-out-alt"></i>
                      <span>Logout</span>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div
          class="card"
          data-toggle="dragula"
          data-containers='["card-list-1", "card-list-2", "card-list-3"]'
        >
          <% if(errorMsg !=null && errorMsg.length>0) {%>
          <div id="flash-msg" class="alert alert-danger"><%=errorMsg %></div>
          <%}%>
          <div
            class="row"
            style="
              text-align: center;
              color: #6e00ff !important ;
              margin-top: 35px;
            "
          >
            <div class="col-8">
              <p style="color: #363435; font-size: 20px">
                Edit the page text for Project :
                <span style="font-weight: bold; color: #6e00ff"
                  ><%= singleApartment.projName %></span
                >
              </p>
            </div>
            <div class="col-4">
              <button
                type="button"
                class="btn btn-info rounded-pill"
                style="margin-bottom: 1rem"
                data-toggle="modal"
                data-target=".docs-example-modal-lg"
              >
                <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
                <span class="btn-inner--text">&nbsp;Add Flat Types</span>
              </button>
            </div>

            <div
              class="modal fade docs-example-modal-lg"
              tabindex="-1"
              role="dialog"
              aria-labelledby="myLargeModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title h6" id="myLargeModalLabel">
                      Add Flat Types
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form
                    action="/addTypes/<%= singleApartment.id %>"
                    method="POST"
                    enctype="multipart/form-data"
                  >
                    <div class="modal-body">
                      <select
                        class="custom-select"
                        name="flatTypeName"
                        id="selectType"
                      >
                        <option selected>Select Flat Type</option>
                        <option value="1BHK">1BHK</option>
                        <option value="1.5BHK">1.5BHK</option>
                        <option value="2BHK">2BHK</option>
                        <option value="2.5BHK">2.5BHK</option>
                        <option value="3BHK">3BHK</option>
                        <option value="1RK">1RK</option>
                        <option value="Shop">Shop</option>
                        <option value="Office">Office</option>
                        <option value="Mezzanine">Mezzanine</option>
                        <option value="Showroom">Showroom</option>
                      </select>
                      <div
                        id="formfor3bhk"
                        style="
                          transition: border-color 0.2s ease-in-out,
                            box-shadow 0.2s ease-in-out;
                          border: 2px dashed #dae1e7;
                          background-color: #fff;
                          margin-bottom: 1rem;
                          margin-top: 2.5rem;
                          text-align: center;
                        "
                      >
                        <h3 style="font-weight: bold">
                          <span class="flatTypeName"></span>
                        </h3>

                        <label
                          for="3bhkimg"
                          class="inputLabel"
                          style="margin: 10px"
                          >Add images for <span class="flatTypeName"></span
                        ></label>
                        <div class="row" id="3bhkimg" style="margin: 0">
                          <div
                            class="col"
                            style="margin-bottom: 1rem; margin-top: 1rem"
                          >
                            <div class="mb-3">
                              <input
                                type="file"
                                name="flatImages"
                                id="file-5"
                                class="custom-input-file"
                                data-multiple-caption="{count} files selected"
                                multiple
                                required
                              />
                              <label for="file-5">
                                <i class="fa fa-upload"></i>
                                <span>Choose a file…</span>
                              </label>
                              <small class="form-text text-muted"
                                >Upload
                                <span style="color: #6e00ff; font-weight: bold"
                                  >5</span
                                >
                                images & the resolutions of the images should be
                                <span style="font-weight: bold; color: #6e00ff"
                                  >800px x 530px</span
                                >
                                for better resolution.</small
                              >
                            </div>
                          </div>
                        </div>
                        <label
                          for="floorplanimg"
                          class="inputLabel"
                          style="margin: 10px"
                          >Add Floor Plan image for
                          <span class="flatTypeName"></span
                        ></label>
                        <div class="row" id="floorplanimg" style="margin: 0">
                          <div
                            class="col"
                            style="margin-bottom: 1rem; margin-top: 1rem"
                          >
                            <div class="mb-3">
                              <input
                                type="file"
                                name="flatFloorPlanimg"
                                id="file-6"
                                class="custom-input-file"
                                data-multiple-caption="{count} files selected"
                                required
                              />
                              <label for="file-6">
                                <i class="fa fa-upload"></i>
                                <span>Choose a file…</span>
                              </label>
                              <small class="form-text text-muted"
                                >Upload
                                <span style="color: #6e00ff; font-weight: bold"
                                  >single</span
                                >
                                image of floor-plan for
                                <span class="flatTypeName"></span> & the
                                resolution of the image should be
                                <span style="font-weight: bold; color: #6e00ff"
                                  >850px x 568px</span
                                >
                                for better resolution.</small
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                      >
                        Close
                      </button>
                      <button type="submit" class="btn btn-primary">
                        Add Type
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div style="margin: auto 55px">
            <label class="inputLabel" for="ftypes">Types Added :</label>
            <div class="row" id="ftypes">
              <% flatType.forEach(type => { %>
              <div class="col-2">
                <div class="card card-fluid">
                  <div class="card-body text-center" style="padding: 5px">
                    <button
                      type="button"
                      onclick="removeFlatType('<%= type.id %>','<%= singleApartment.id %>')"
                      class="btn btn-xs btn-danger rounded-circle btn-icon-only"
                      style="
                        position: absolute;
                        z-index: 1;
                        right: 0;
                        top: 0;
                        margin: 0;
                      "
                    >
                      <span style="font-size: 22px">&times;</span>
                    </button>
                    <div class="avatar-parent-child">
                      <img
                        alt="Image placeholder"
                        src="/assets/img/uploads/<%= flatTypeimg[0].filename %>"
                      />
                    </div>
                    <span style="color: grey; font-size: 15px; font-weight: 600"
                      ><%= type.typeName %></span
                    >
                  </div>
                </div>
              </div>
              <% }); %>
            </div>
          </div>

          <!-- Omnisearch -->
          <div style="margin: 0 auto; width: 90%">
            <form
              action="/editSingleApartment/<%= singleApartment.id %>"
              method="POST"
              enctype="multipart/form-data"
            >
              <div class="mb-3">
                <label class="inputLabel">Image for Banner 1:</label>
                <input
                  type="file"
                  name="banner1"
                  id="file-1"
                  class="form-control custom-input-file"
                  data-multiple-caption="{count} files selected"
                  multiple
                  required
                />
                <label for="file-1">
                  <i class="fa fa-upload"></i>
                  <span>Choose a file…</span>
                </label>
                <small class="form-text text-muted"
                  >Image resolution should be
                  <span style="font-weight: bold; color: #6e00ff"
                    >1920px x 1100px</span
                  >
                  for better resolution.</small
                >
              </div>
              <div class="form-group pb-2">
                <label class="inputLabel" for="bannerText">Banner Text :</label>
                <input
                  class="form-control"
                  type="text"
                  id="bannerText"
                  value="<%= singleApartment.bannerText %>"
                  name="bannerText"
                /><small class="form-text text-muted"
                  >Maximum 100 characters. No HTML or emoji allowed.</small
                >
              </div>
              <div class="form-group pb-2">
                <label class="inputLabel" for="file-2">PDF :</label>
                <input
                  type="file"
                  name="pdf"
                  id="file-2"
                  class="form-control custom-input-file"
                  data-multiple-caption="{count} files selected"
                  multiple
                  required
                />
                <label for="file-2">
                  <i class="fa fa-upload"></i>
                  <span>Choose a file…</span>
                </label>
                <small class="form-text text-muted"
                  >Upload
                  <span style="color: #6e00ff; font-weight: bold">PDF</span> of
                  floorplan of the apartment.</small
                >
              </div>
              <div class="form-group pb-2">
                <label class="inputLabel" for="section1Header"
                  >Section 1 Text header :</label
                >
                <input
                  class="form-control"
                  type="text"
                  id="section1Header"
                  name="section1Header"
                  value="<%= singleApartment.section1Header %>"
                /><small class="form-text text-muted"
                  >Maximum 100 characters. No HTML or emoji allowed.</small
                >
              </div>
              <div class="form-group pb-2">
                <label class="inputLabel" for="section1para"
                  >Section 1 Text paragraph :</label
                >
                <input
                  class="form-control"
                  type="text"
                  id="section1para"
                  name="section1para"
                  value="<%= singleApartment.section1para %>"
                /><small class="form-text text-muted"
                  >Maximum 100 characters. No HTML or emoji allowed.</small
                >
              </div>
              <div class="row">
                <div class="col">
                  <div class="mb-3">
                    <label class="inputLabel">Image 1 for Section 1 :</label>
                    <input
                      type="file"
                      name="section1img1"
                      id="file-3"
                      class="form-control custom-input-file"
                      data-multiple-caption="{count} files selected"
                      multiple
                      required
                    />
                    <label for="file-3">
                      <i class="fa fa-upload"></i>
                      <span>Choose a file…</span>
                    </label>
                    <small class="form-text text-muted"
                      >Image resolution should be
                      <span style="font-weight: bold; color: #6e00ff"
                        >530px x 620px</span
                      >
                      for better resolution.</small
                    >
                  </div>
                </div>
                <div class="col">
                  <div class="mb-3">
                    <label class="inputLabel">Image 2 for Section 1 :</label>
                    <input
                      type="file"
                      name="section1img2"
                      id="file-4"
                      class="form-control custom-input-file"
                      data-multiple-caption="{count} files selected"
                      multiple
                      required
                    />
                    <label for="file-4">
                      <i class="fa fa-upload"></i>
                      <span>Choose a file…</span>
                    </label>
                    <small class="form-text text-muted"
                      >Image resolution should be
                      <span style="font-weight: bold; color: #6e00ff"
                        >433px x 536px</span
                      >
                      for better resolution.</small
                    >
                  </div>
                </div>
              </div>
              <div class="form-group pb-2">
                <label class="inputLabel" for="projName">Project Name :</label>
                <input
                  class="form-control"
                  type="text"
                  id="projName"
                  name="projName"
                  value="<%= singleApartment.projName %>"
                /><small class="form-text text-muted"
                  >Maximum 100 characters. No HTML or emoji allowed.</small
                >
              </div>
              <div class="form-group pb-2">
                <label class="inputLabel" for="Section2Text2"
                  >Section 2 header Text :</label
                >
                <input
                  class="form-control"
                  type="text"
                  id="Section2Text2"
                  value="<%= singleApartment.section2Text2 %>"
                  name="section2Text2"
                /><small class="form-text text-muted"
                  >Maximum 100 characters. No HTML or emoji allowed.</small
                >
              </div>
              <label class="inputLabel" for="unp-product-tags"
                >Enter info abut nearby spots :</label
              >
              <div class="alert alert-success" role="alert">
                Enter Information about nearby locations. You can also change
                the locations types given below.
                <br /><br />
                <small style="font-weight: bold"
                  >Note: Given location types are only for example purpose you
                  can change it according to your preference.</small
                >
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group py-2">
                    <input
                      type="text"
                      class="form-control"
                      name="spot1"
                      value="<%= singleApartment.spot1 %>"
                      id="spot1"
                    />
                  </div>
                  <div class="form-group py-2">
                    <textarea
                      class="form-control"
                      rows="4"
                      name="spot1info"
                      id="unp-product-tags"
                    >
<%= singleApartment.spot1info %></textarea
                    ><small class="form-text text-muted"
                      >Up to 10 keywords that describe your item. Tags should
                      all be in lowercase and separated by commas.</small
                    >
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group py-2">
                    <div class="form-group py-2">
                      <input
                        type="text"
                        class="form-control"
                        name="spot2"
                        value="<%= singleApartment.spot2 %>"
                        id="spot2"
                      />
                    </div>
                    <textarea
                      class="form-control"
                      rows="4"
                      name="spot2info"
                      id="unp-product-tags"
                    >
<%= singleApartment.spot2info %></textarea
                    ><small class="form-text text-muted"
                      >Up to 10 keywords that describe your item. Tags should
                      all be in lowercase and separated by commas.</small
                    >
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group py-2">
                    <div class="form-group py-2">
                      <input
                        type="text"
                        class="form-control"
                        name="spot3"
                        value="<%= singleApartment.spot3 %>"
                        id="spot3"
                      />
                    </div>
                    <textarea
                      class="form-control"
                      rows="4"
                      name="spot3info"
                      id="unp-product-tags"
                    >
<%= singleApartment.spot3info %></textarea
                    ><small class="form-text text-muted"
                      >Up to 10 keywords that describe your item. Tags should
                      all be in lowercase and separated by commas.</small
                    >
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group py-2">
                    <div class="form-group py-2">
                      <input
                        type="text"
                        class="form-control"
                        name="spot4"
                        value="<%= singleApartment.spot4 %>"
                        id="spot4"
                      />
                    </div>
                    <textarea
                      class="form-control"
                      rows="4"
                      name="spot4info"
                      id="unp-product-tags"
                    >
<%= singleApartment.spot4info %></textarea
                    ><small class="form-text text-muted"
                      >Up to 10 keywords that describe your item. Tags should
                      all be in lowercase and separated by commas.</small
                    >
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="section2img" class="inputLabel"
                  >Image for end section :</label
                >
                <input
                  type="file"
                  name="section2img"
                  id="file-13"
                  class="form-control custom-input-file"
                  data-multiple-caption="{count} files selected"
                  multiple
                  required
                />
                <label for="file-13">
                  <i class="fa fa-upload"></i>
                  <span>Choose a file…</span>
                </label>
                <small class="form-text text-muted"
                  >Image resolution should be
                  <span style="font-weight: bold; color: #6e00ff"
                    >650px x 525px</span
                  >
                  for better resolution.</small
                >
              </div>
              <button class="btn btn-primary btn-block" type="submit">
                <i class="czi-cloud-upload font-size-lg mr-2"></i>Update Home
                Page
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="../assets/js/purpose.core.js"></script>
    <script src="../assets/libs/progressbar.js/dist/progressbar.min.js"></script>
    <script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="../assets/libs/moment/min/moment.min.js"></script>
    <script src="../assets/libs/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <script src="../assets/js/purpose.js"></script>
    <script src="../assets/js/demo.js"></script>
    <script src="/js/theme.min.js"></script>
    <script>
      const select = document.getElementById("selectType");

      select.onchange = function () {
        var selectedString = select.options[select.selectedIndex].value;
        console.log(selectedString);
        var type = (document.getElementsByClassName(
          "flatTypeName"
        )[0].innerHTML = selectedString);
        var type = (document.getElementsByClassName(
          "flatTypeName"
        )[1].innerHTML = selectedString);
        var type = (document.getElementsByClassName(
          "flatTypeName"
        )[2].innerHTML = selectedString);
        var type = (document.getElementsByClassName(
          "flatTypeName"
        )[3].innerHTML = selectedString);
      };
    </script>
    <script>
      function removeFlatType(typeId, apartId) {
        $.ajax({
          url: "/removeFlatType",
          method: "post",
          dataType: "json",
          data: { typeId: typeId, apartId: apartId },
          success: function (response) {
            location.reload();
          },
          error: function (response) {
            alert("server error occured");
          },
        });
      }
    </script>
    <!-- <script src="js/multipleImages.js"></script> -->
  </body>
</html>
